# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Node modules
node_modules/

# Model artifacts
*.pkl

# Large datasets
*.csv

# Environment files
.env
*.env

# OS files
.DS_Store
Thumbs.dbvenv/
